00;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    background: rgba(255, 152, 27, 0.95);
    
}
.nav-menu.active {
    right: 0;
}

.nav-content {
    width: 100%;
    padding: 60px 30px;
}

.nav-content ul {
    margin-top: 20 px;
    list-style: none;
}
.nav-content li {
    margin-bottom: 20px;
}

.nav-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 12px 0;
    transition: all 0.3s;
}

.nav-menu.active .header-top .line {
    background-color: white;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
    background-color: white;
}
.hamburger.active .line:nth-child(2) {
    opacity: 0;
}
.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: white;
}



/* ПРЕИМУЩЕСТВА */

.benefits {
    padding: 80px 20px;
    background: linear-gradient(135deg, 0%, #fff8e1 100%);
    position: relative;
}

.benefits::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #FFD500, #dacb4b);
    border-radius: 2px;
}

.section-subtitle {
    text-align: center;
    font-size: 1rem;
    color: white;
    max-width: 700px;
    margin: 40px auto 60px;
    line-height: 1.5;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.benefit-card {
    background: rgb(29, 28, 25);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #FFA500;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    overflow: hidden;
}

.benefit-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgb(165, 124, 47), 0 5px 15px rgba(0, 0, 0, 0.1);
    border-color: rgba(190, 142, 51, 0.993);
}

.benefit-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,#FFA500, #FFA500);
    opacity: 0.7;
    transition: opacity 0.3s;
}

.benefit-card::before {
    opacity: 1;
}

.benefit-title {
    font-size: 1.5rem;
    color: #FF8C00;
    margin-bottom: 20px;
    line-height: 1.3;
    min-height: 60px;
}

.benefits-description {
    color: white;
    line-height: 1.5;
    font-size: 1.05rem;
    opacity: 0.9;
}

/* ПРЕПОДОВАТЕЛИ */
.teacher {
    padding: 100px 20px;
    background: white;
    position: relative;
}

.teacher-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1000px;
    margin: 60px auto 0;
}

.teacher-card {
    text-align: center;
    transition: tranaform 0.3s;
}

.teacher-card:hover {
    transform: translateY(-10px);
}

.teacher-photo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #FFA500;
    box-shadow: 0 10px 20px rgb(228, 117, 14);
}

.teacher-img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    object-position: center;
    transform: transform 0.3;
}
.teacher-card:hover .teacher-img {
    transform: scale(1.05);
}


.teacher-info-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #FFA500;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    z-index: 2;
}

.teacher-info-btn:hover {
    background: #FF8C00;
    transform: scale(1.1);
}


.teacher-name {
    font-size: 1.5rem;
    color: #FF8C00;
    margin-bottom: 8px;
}


.teacher-subject {
    color: white;
    font-size: 1.1rem;
}


/* окна */
.teacher-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    z-index: 1001;
    opacity: 0;
    transition: all 0.3s ease;
}

.teacher-popup.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-content {
    position: relative;
}

.popup-content h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.popup-quote {
    font-style: italic;
    color: #FF8C00;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid #FFD700;
}

.popup-info {
    color: #555;
    line-height: 1.6;
    font-size: 1.1rem;
}

.popup-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    background: #FFA500;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.popup-close:hover {
    background: #FF8C00;
    transform: rotate(90deg);
}



/* ПОДВАЛ */
.footer {
    background: #FF8C00;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s;
}
